header{
    display: block;
    z-index: 1;
    right: auto;
    height: 62px;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    -webkit-transition: top 0.3s linear;
    transition: top 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

header .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 40%;
}

header a{
    font-family: 'Roboto', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: 0 15px;
}

header a:hover{
    color: #FF6E6E;
    transition: color 0.3s linear;
}

header .active{
    color: #FF6E6E;
}

/* 
　　フッター
*/

.footMenu{
    background: #FF6E6E;
    color: #fff;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}

.footMenu a:hover{
    color: #373737;
    transition: color 0.3s linear;
}

.footEnd{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.footEnd h5{
    font-weight: 100;
    color: #6B6B6B;
}

.sns{
    display: flex;
    justify-content: space-around;
}

.sns a{
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.sns a:hover{
    opacity: .5;
    transition:0.3s linear;
}

.LINE{
    background: url(../img/LINE.png) no-repeat center center/cover;
}

.twit{
    background: url(../img/Twitter.png) no-repeat center center/cover;
}

.ins{
    background: url(../img/Instagram.png) no-repeat center center/cover;
}

footer p{
    color: #6B6B6B;
    text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 480px) {
    header{
        padding: 0 10px;
        height: 50px;
    }

    header nav{
        text-align: right;
    }

    header a{
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        margin-left: 20px;
    }

    .footMenu{
        font-size: 10px;
    }

    .footEnd{
        padding: 5px;
    }

    .footEnd h5{
        font-weight: 200;
        color: #6B6B6B;
        font-size: 15px;
    }

    .sns a{
        width: 30px;
        height: 30px;
        margin: 0 15px;
    }
 }