@charset "UTF-8";

/* 

sec001_column---1--- 

--------------------*/

.sec001-content {
    max-width: 960px;
    margin: 70px auto;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
}

.sec001-in {
    text-align: center;
}

.sec001-in h1 {
    position: relative;
}

.sec001-in h1::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #373737;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec001-in p {
    margin: 20px 0;
}

.sec001-in .img {
    content: "";
    background: url(../img/1440x880-main-003.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
    margin-top: 90px;
    position: relative;
}

.sec001-in .img .img-in {
    background: rgba(143, 140, 140, 0.747);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    line-height: 3;
}

.sec001-in .img .img-in a {
    font-size: 30px;
    color: #f9f9f9;
    font-weight: 600;
}

.sec001-in .img .img-in a:hover {
    transition: 1s;
    color: rgb(243, 235, 164);
}

.sec001-in time {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: rgb(165, 165, 165);
}


/* 

sec002_column---2--- 

--------------------*/

.sec002-content {
    max-width: 1160px;
    margin: 70px auto;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
}

.sec002-content .flex {
    display: flex;
}

.sec002-in {
    text-align: center;
    color: #5E5E5E;
}

.sec002-in h1 {
    position: relative;
}

.sec002-in h1::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #707070;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec002-in h4{
    text-align: left;
}

.sec002-in p {
    margin: 20px 0;
}

.sec002-in .img {
    content: "";
    background: url(../img/1440x880-main-004.jpg) no-repeat top -10px center/cover;
    width: 100%;
    height: 300px;
    margin-top: 150px;
    position: relative;
}

.sec002-in .img::after {
    background-color: #BCBCBC;
    content: '';
    height: 90%;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: -60px;
    left: -100px;
}

/* .sec002-in .img .img-in {
    background: rgba(78, 77, 77, 0.747);
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    line-height: 1.5;
    font-size: 2.4rem;
    text-shadow: 2px 2px rgba(204, 0, 0, 0.76);
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
} */

/* .img-in span{
    padding-left: 50px;
} */

.sec002-in .img-side {
    content: "";
    background: white;
    width: 100%;
    height: 400px;
    margin-top: 90px;
    padding: 20px;
    position: relative;
    border: solid 2px rgb(230, 230, 230);
    box-shadow: 2px 2px black;
    margin-left: 60px;
}

.img-side p{
    text-align: left;
    margin-left: 20px;
}

.img-side div{
    text-align: right;
}

.img-side .btn{
    color: #373737;
    border: 1px solid #373737;
}

.img-side .btn:hover {
    color: #cc0000;
    transition: color 0.1s linear 0s;
}

.img-side .btn::before {
    background: #373737;
}

/* 

sec003_SNS

--------------------*/

.sec003-content{
    height: 586px;
    background-color: #FF6E6E;
}

.sec003-in{
    display: flex;
    justify-content: space-around;
}

.sec003-in h2{
    color: white;
}

.sec003-content .twitter-timeline{
    height: 550px;
    overflow: hidden;
}

.instagram-media{
    height: 500px;
    width: 400px;
    overflow: scroll;
}

/* 

sec004_promis

--------------------*/
